/*Estilo do site em geral*/
/*html, body, #root{
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    background-color: #F0E7D5 ;
}*/

/*Estilo do site em geral*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Garante herança de altura */
}

/* O #root e o contêiner principal */
#root, .home {
    /* CORREÇÃO CHAVE: min-height E display: flex */
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
}

/*HEADER*/

header {
    background-color: #212842;
}

.header{
    padding: 10px;
    color: #F0E7D5;
}

/*NavBar*/

.nav{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #F0E7D5;
}

/*conteudo da NavBar*/
.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #F0E7D5;
    display: flex;
    width: 100%;
}

.links li {
    flex-grow: 1;
    text-align: center;
}

.links li a {
    display: block;
    color: #212842;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.links li a:hover {
    background-color: #212842;
    color: #F0E7D5;
}

/*BODY*/

main {
    background-color: #212842;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

/*Submit*/

input{
    background-color: #F0E7D5;
    min-width: 300px;
    min-height: 30px;
    text-align: center;
    color: #212842;
}

button{
    background-color: #F0E7D5;
    min-height: 35px;
    min-width: 100px;
    color: #212842;
}

main .URL{
    padding-bottom: 10px;
}

/*Resposta*/
main .resposta{
    padding: 10px;
    background-color: #F0E7D5;
    min-height: 260px;
    width:100%;
}

/*BODY SOBRE*/

.sobre div{
    padding: 10px;
    background-color: #F0E7D5;
}

/*FOOTER*/
footer {
    background-color: #212842;
    color: #F0E7D5;
    padding: 20px 0;
}

.membros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.seccao-membro{
    padding: 5px 7px;
    flex-grow: 0;
}